:root,
.typo-preset-site {
    --typo-base-size: 14px;
    --typo-r: 1.33;
    --typo-alpha: 0.7518796992481203;
    --typo-lambda: 0.7518796992481203;
    --typo-body-line-height: 24.7646px;
    --typo-baseline-grid: 24.7646px;
    --typo-paragraph-space: 18.62px;
    --typo-figure-space: 37.24px;
    --typo-caption-gap: 14px;
    --typo-caption-size: 7.914523149980213px;
    --typo-caption-line-height: 24.7646px;
    --typo-step-1: 18.62px;
    --typo-step-2: 24.7646px;
    --typo-step-3: 32.936918000000006px;
    --typo-step-4: 43.80610094000001px;
    --typo-step-5: 58.26211425020002px;
    --typo-step-6: 77.48861195276602px;
    --typo-heading-1-size: 77.48861195276602px;
    --typo-heading-1-top: 116.52422850040003px;
    --typo-heading-1-bottom: 17.400523932068932px;
    --typo-heading-2-size: 58.26211425020002px;
    --typo-heading-2-top: 87.61220188000003px;
    --typo-heading-2-bottom: 16.259808163134284px;
    --typo-heading-3-size: 43.80610094000001px;
    --typo-heading-3-top: 65.87383600000001px;
    --typo-heading-3-bottom: 15.119092394199633px;
    --typo-heading-4-size: 32.936918000000006px;
    --typo-heading-4-top: 49.5292px;
    --typo-heading-4-bottom: 13.978376625264984px;
    --typo-heading-5-size: 24.7646px;
    --typo-heading-5-top: 37.24px;
    --typo-heading-5-bottom: 12.837660856330334px;
    --typo-heading-6-size: 18.62px;
    --typo-heading-6-top: 28px;
    --typo-heading-6-bottom: 11.696945087395685px;
    --grid-gutter: calc(var(--typo-baseline-grid) * 2);
    --grid-gutter-wide: calc(var(--typo-baseline-grid) * 2);
    --typo-body-color: var(--ral-8022);
    --typo-heading-color: var(--ral-9005);
    --typo-caption-color: var(--ral-9007);
    --typo-link-color: var(--chart-2);
    --typo-link-visited-color: var(--chart-1);
    --typo-link-hover-color: var(--chart-3);
    --typo-font-body: var(--body-font);
    --typo-font-heading: var(--heading-font);
    --typo-measure: 100%;
}
